<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/about.css">
  </head>
  <body>

    <div class="about-container">
    <h1>About Us</h1>
    <p>Welcome to <b>Quizz!</b></p>
    <p>
      At QuizAdventures, we believe in the power of knowledge and the joy of
      learning. Our platform is designed to be more than just a place for
      quizzes—it's a space for exploration, challenge, and fun! Here's a glimpse
      into who we are and what drives us:
    </p>
    <ol>
        <li>
    <h2>Our Mission</h2>
    <p>
      We are on a mission to make learning exciting and accessible to everyone.
      In a world full of information, we aim to create a haven where curiosity
      thrives, and every quiz is an opportunity to discover something new.
    </p>
      </li>
       <li>
    <h2>What Sets Us Apart</h2>
    <ul>
      <li>
        <b>Diverse Quizzes:</b>
        From General Knowledge to Programming, Logical Reasoning to Sports, our
        quizzes cover a wide range of topics, ensuring there's something for
        everyone.
      </li>
      <li>
        <b>Engaging Experience:</b> Our quizzes aren't just questions and
        answers; they're interactive adventures that stimulate your intellect
        while providing an enjoyable experience.
      </li>
      <li>
        <b>Community Connection:</b> QuizAdventures is more than a platform;
        it's a community of learners and knowledge enthusiasts. Connect with
        like-minded individuals, challenge your friends, and embark on quiz
        adventures together!
      </li>
    </ul></li>
      <li>
    <h2>Our Team</h2>
    <p>
      Behind Quizz is a passionate team of educators, developers, and creatives
      who share a common vision—to make learning dynamic and delightful. Meet
      the minds driving the quizzes and shaping the future of knowledge
      exploration.
    </p> </li>
     <li>
    <h2>Join the Adventure!</h2>
    <p>
      Whether you're here to test your knowledge, challenge your friends, or
      simply have fun, QuizAdventures is your go-to destination. Join us on this
      exciting journey of discovery, and let's make learning an adventure!
    </p>
    <br />
    <p>
      Ready to dive in? Take a quiz and explore the world of knowledge with
      QuizAdventures!
    </p>
    <br />
    <p>
      Feel free to personalize and expand upon this template to better align
      with the unique aspects of your quiz website. Highlight any specific
      features, team members, or aspects that make your platform stand out.
    </p> </li>
     </ol>
  </div>

  <div class="contact-devlop " id="footer">
    <h2>Contact Developers</h2>
  </div>
  
  <div class="first-footer">
    <footer>
      <div class="member">
        <img src="images/shivanand.jpeg" alt="Member 1" />
        <h3>Shivanand Pal</h3>
        <div class="social-links">
          <a
            href="https://www.linkedin.com/in/shivanand-pal-787903257/"
            target="_blank"
            ><img src="images/linkedin_img.png" alt="LinkedIn"
          /></a>
          <a href="https://github.com/shivanandpal91" target="_blank"
            ><img src="images/github_img.jpg" alt="GitHub"
          /></a>
        </div>
      </div>
  
      <div class="member">
        <img src="images/aman_chandra.jpg" alt="Member 2" />
        <h3>Aman Chandra</h3>
        <div class="social-links">
          <a
            href="https://www.linkedin.com/in/aman-chandra-21135a256/"
            target="_blank"
            ><img src="images/linkedin_img.png" alt="LinkedIn"
          /></a>
          <a href="https://github.com/aman3027" target="_blank"
            ><img src="images/github_img.jpg" alt="GitHub"
          /></a>
        </div>
      </div>
  
      <div class="member">
        <img src="images/amit.jpg" alt="Member 3" />
        <h3>Amit Kumar</h3>
        <div class="social-links">
          <a
            href="https://www.linkedin.com/in/amit-kumar-3a4137256/"
            target="_blank"
            ><img src="images/linkedin_img.png" alt="LinkedIn"
          /></a>
          <a href="https://github.com/amit012005" target="_blank"
            ><img src="images/github_img.jpg" alt="GitHub"
          /></a>
        </div>
      </div>
    </footer>
  </div>
  
  <div class="second-footer">
    <footer>
      <div class="footer-content">
        <div class="footer-section about select_three_footer">
          <h2>About Us</h2>
          <p>
            Embark on a journey of knowledge and fun – where every question
            challenges you and every answer unlocks a world of discovery.
            Welcome to the Quizz – Where Learning Meets Adventure!
          </p>
        </div>
  
        <div
          class="footer-section contact select_three_footer"
          style="margin-left: 5rem; margin-right: 6rem">
        
          <h2>Contact Us</h2>
          <p>Email: amanchandra7482@gmail.com</p>
          <p>Phone: +91 9369426323</p>
        </div>
  
        <div class="footer-section links select_three_footer">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  </body>
</html>
