<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/about.css">
  </head>
  <body>

    <div class="about-container">
    <h1>About Us</h1>
    <p>Welcome to <b>Quizz!</b></p>
    <p>
      At QuizAdventures, we believe in the power of knowledge and the joy of
      learning. Our platform is designed to be more than just a place for
      quizzes—it's a space for exploration, challenge, and fun! Here's a glimpse
      into who we are and what drives us:
    </p>
    <ol>
        <li>
    <h2>Our Mission</h2>
    <p>
      We are on a mission to make learning exciting and accessible to everyone.
      In a world full of information, we aim to create a haven where curiosity
      thrives, and every quiz is an opportunity to discover something new.
    </p>
      </li>
       <li>
    <h2>What Sets Us Apart</h2>
    <ul>
      <li>
        <b>Diverse Quizzes:</b>
        From General Knowledge to Programming, Logical Reasoning to Sports, our
        quizzes cover a wide range of topics, ensuring there's something for
        everyone.
      </li>
      <li>
        <b>Engaging Experience:</b> Our quizzes aren't just questions and
        answers; they're interactive adventures that stimulate your intellect
        while providing an enjoyable experience.
      </li>
      <li>
        <b>Community Connection:</b> QuizAdventures is more than a platform;
        it's a community of learners and knowledge enthusiasts. Connect with
        like-minded individuals, challenge your friends, and embark on quiz
        adventures together!
      </li>
    </ul></li>
      <li>
    <h2>Our Team</h2>
    <p>
      Behind Quizz is a passionate team of educators, developers, and creatives
      who share a common vision—to make learning dynamic and delightful. Meet
      the minds driving the quizzes and shaping the future of knowledge
      exploration.
    </p> </li>
     <li>
    <h2>Join the Adventure!</h2>
    <p>
      Whether you're here to test your knowledge, challenge your friends, or
      simply have fun, QuizAdventures is your go-to destination. Join us on this
      exciting journey of discovery, and let's make learning an adventure!
    </p>
    <br />
    <p>
      Ready to dive in? Take a quiz and explore the world of knowledge with
      QuizAdventures!
    </p>
    <br />
    <p>
      Feel free to personalize and expand upon this template to better align
      with the unique aspects of your quiz website. Highlight any specific
      features, team members, or aspects that make your platform stand out.
    </p> </li>
     </ol>
  </div>

  <div class="footer-container">
    <footer class="row row-cols-5 py-5 my-5 border-top">
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-muted">© 2023</p>
      </div>
  
      <div class="col">
  
      </div>
  
      <div class="col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>
    </footer>
  </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  </body>
</html>
