<!-- views/admin-dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="css/admin-dashboard.css">
  
</head>
<body>
  <div class="admin-dashboard">
    <h1>Admin Dashboard</h1>
    <form id="quizForm" action="/saveQuestions" method="post">
      <div class="quiz-form">
        <label for="quizTitle">Quiz Title:</label>
        <input type="text" id="quizTitle" placeholder="Enter quiz title">

        <label for="quizType">Quiz Type:</label>
        <select id="quizType">
          <option value="mcq">Multiple Choice Question</option>
          <option value="trueFalse">True/False Question</option>
          <option value="shortAnswer">Short Answer Question</option>
        </select>

        <label for="numQuestions">Number of Questions:</label>
        <input type="number" id="numQuestions" placeholder="Enter number of questions">

        <button class="btn btn-primary" type="button" onclick="generateQuestionInputs()">Generate Questions</button>

        <div id="questionInputs" class="question-inputs">
          <!-- Question inputs will be dynamically added here -->
        </div>

        <button type="button" id="submitBtn" class="btn btn-primary" onclick="submitQuestions()" style="display: none;">Submit Questions</button>
      </div>
    </form>
    <script src="javascript/admin-dashboard.js"></script>
  </body>  
</html>
