<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page_after_login</title>
  <link rel="stylesheet" href="css/inside.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Login Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid  nav_background">
          <a class="navbar-brand" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="32" fill="currentColor" class="bi bi-quora" viewBox="0 0 16 16">
            <path d="M8.73 12.476c-.554-1.091-1.204-2.193-2.473-2.193-.242 0-.484.04-.707.142l-.43-.863c.525-.45 1.373-.808 2.464-.808 1.697 0 2.568.818 3.26 1.86.41-.89.605-2.093.605-3.584 0-3.724-1.165-5.636-3.885-5.636-2.68 0-3.839 1.912-3.839 5.636 0 3.704 1.159 5.596 3.84 5.596.425 0 .811-.046 1.166-.15Zm.665 1.3a7.127 7.127 0 0 1-1.83.244C3.994 14.02.5 11.172.5 7.03.5 2.849 3.995 0 7.564 0c3.63 0 7.09 2.828 7.09 7.03 0 2.337-1.09 4.236-2.675 5.464.512.767 1.04 1.277 1.773 1.277.802 0 1.125-.62 1.179-1.105h1.043c.061.647-.262 3.334-3.178 3.334-1.767 0-2.7-1.024-3.4-2.224Z"/>
          </svg>uizz</a>
          <button class="navbar-toggler"
           style="background-color: white; border: radius 0.25em;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse middle_background" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-list nav-back">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><b>Take Quiz</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Create Quiz</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Science</a></li>
                  <li><a class="dropdown-item" href="#">Sports</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About Us</a>
              </li>
            </ul>`
            <div class="d-flex sign">
                <button class="theme" src="../public/images/gk2.jpg"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars" viewBox="0 0 16 16">
                     <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"/>
                     <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
                            </svg>
                </button>
                <div class="profile">
                    <button class="profile_button"><a href="/user-profile" style="text-decoration: none;">user</a></button>
                </div>
             </div>
          </div>
        </div>
      </nav>

      
           <!-- middle home for front page -->

 
     <div class="main-container">
      <div class="col-xxl-8 px-4 " style="padding-top: 8rem;">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6 ">
            <img src="../public/images/quiz_home.png" class="d-block mx-lg-auto img-fluid back-home" alt="Bootstrap Themes" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 mid_text">Discover Quiz Adventures with Our Platform</h1>
            <p class="lead">Cultivate your intellect with our diverse collection of quizzes. Explore topics from history to pop culture while enjoying an engaging and educational experience. Challenge your knowledge on our platform today.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 creat_act">Create Account</button> -->
              <button type="button" class="btn btn-outline-secondary btn-lg px-4">Take Quiz</button>
            </div>
          </div>
        </div>
      </div>
    </div>




        <!-- different cards for different topics -->





      <div class="background_img  cards">

        <!-- first card -->

        <div class="card" style="width: 18rem;">
          <img src="../public/images/gk2.jpg" class="card-img-top img-card" alt="..." height="180 rem" width="10rem">
          <div class="card-body">
            <h5 class="card-title">General Knowledge</h5>
            <p class="card-text">A general knowledge quiz tests your knowledge on a wide range of topics, from history to pop culture, in a fun and engaging way.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      
      <!-- second card -->

      <div class="card" style="width: 18rem;">
        <img src="../public/images/program (1).jpg " class="card-img-top img-card" alt="..." height="180 rem" width="10rem">
        <div class="card-body">
          <h5 class="card-title">Programming</h5>
          <p class="card-text">Programming is the art of instructing computers to perform specific tasks through the use of structured code and algorithms.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <!-- third card -->

      <div class="card" style="width: 18rem;">
        <img src="../public/images/aptitude.jpeg" class="card-img-top img-card" alt="..." height="180 rem" width="10rem">
        <div class="card-body">
          <h5 class="card-title">Logical Regioning</h5>
          <p class="card-text">Logical reasoning entails systematically evaluating information to draw well-founded conclusions based on sound logic.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <!-- fourth card -->

      <div class="card" style="width: 18rem;">
        <img src="../public/images/sports.jpg" class="card-img-top img-card" alt="..." height="180 rem" width="10rem">
        <div class="card-body">
          <h5 class="card-title">Sports</h5>
          <p class="card-text">Sports encompass various activities, including competitions that demand skill, athleticism, teamwork, and individual excellence.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      
    </div>


     <!-- slides for home page -->
   <div class="slide_back">
     <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../public/images/gk_slide.png" class="d-block w-100" alt="couple">
          </div>
          <div class="carousel-item">
            <img src="../public/images/porgramming_slide.png" class="d-block w-100" alt="dog">
          </div>
          <div class="carousel-item">
            <img src="../public/images/sport_slide.png" class="d-block w-100" alt="family">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>


</body>
</html>