body{
    background-color:aliceblue!important;
}
.about-container
{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    background-color: aquamarine;
    padding: 5rem;
    border-radius: 1rem;
    
}

.contact-devlop{
    width: 100%;
  
  }
  .contact-devlop h2
   {
    margin-top: 1.5rem;
    text-align: center; 
    border: 0.25rem solid black;
  
  }
  .footer-image
  {
    width: 3rem !important;
    height: 3rem !important;
  }
  
  body > div.first-footer > footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .member {
    text-align: center;
    flex: 1;
  }
  
  .member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .social-links img {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    margin: 5px;
  }
  
  
  body > div.second-footer > footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
  
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
  }
  
  .footer-section {
    flex: 1;
    padding: 10px;
  }
  
  .footer-section h2 {
    color: #fff;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 14px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
  }
  
  .select_three_footer
  {
    margin-top: 3rem;
    margin-left: 6rem;
    margin-right: 6rem;
  }